.home-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
   
}

.home-container {
    background: url(/wood.jpg) no-repeat center center/cover;
}

.menu-prompt {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-prompt h2 {
    font-size: 1.6rem;
    margin: 20px 0;
    text-align: center;
    margin-top: 10px;
    background-color: #0e1823;
    color:  #edf1fa;
    padding: 30px;
    border-radius: 25px;
}

.menu-prompt img {
    width: 600px;
    height: 350px;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.menu-prompt img:hover {
    opacity: 0.7;
  }

.menu-prompt .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}  
  
.menu-prompt img:hover + .hover-text {
    opacity: 1;
}
  
.menu-order {
    text-decoration: none;
    color: #edf1fa;
}

.menu-prompt button:hover{
    background-color: green;
    transform: scale(.9);
}

.menu-prompt button {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 20px;
}

.home-delivery{
    padding-left: 20px;
    padding-right: 20px;
}

.home-delivery h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    margin-top: 10px;
    background-color: #0e1823;
    color:  #edf1fa;
    padding: 10px;
    border-radius: 25px;
}